<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Escola</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div  th:fragment="menu">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/flange/listagem">Listagem de Flanges</a></li>
            <li><a href="/flange/cadastro">Cadastrar Flanges</a></li>
            <li><a href="/funcionario/cadastro">Cadastrar Funcionario</a></li>
            <li><a href="/funcionario/listagem">Listagem Funcionario</a></li>
            <li><a href="/manutencao/listagem">Manutencão</a></li>
            <li><a href="/manutencao/cadastro">Cadastro Manutencão</a></li>
            <li style="margin-left: auto;"><a href="/">Sair</a></li>
        </ul>
    </nav>
</div>
</body>
</html>